services:
  nats:
    image: nats:latest
    container_name: nats-server
    command: ["-config", "/etc/nats/nats.conf"]
    ports:
      - "4222:4222"
      - "8222:8222"
    environment:
      - "NATS_ENCRYPTION_KEY=17556952fcfc80b5661c7b793a7472dfb6c06d493410206c7776d214ed836101"
      - "DATA_CONSUMER_USERNAME=dataconsumer"
      - "DATA_CONSUMER_PWD=dataconsumer"
    volumes:
      - ./nats-jetstream/nats.conf:/etc/nats/nats.conf
      - ./nats-jetstream/nats-data:/etc/nats/data
      - ./nats-jetstream/certs:/etc/nats/certs
    networks:
      - nats-net
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=sensors_db
    volumes:
      - ./database/timescale-data:/var/lib/postgresql/data
    networks:
      - nats-net
      
networks:
  nats-net:
    driver: bridge