services:

  # NATS ---------------------------------------------------------------------------------------------------------------
  nats:
    image: nats:latest
    container_name: nats-server
    command: ["-config", "/etc/nats/nats.conf"]
    ports:
      - "4222:4222"
      - "8222:8222"
      - "443:443"
    environment:
      - "SYSTEM_ACCOUNT=AALQCF4M7HNUZXTTUJYH4LYH2KR7XYNOEGACORLW7AQNUVOI46EMWKHE"
      - "NATS_ENCRYPTION_KEY=17556952fcfc80b5661c7b793a7472dfb6c06d493410206c7776d214ed836101"
      - "DATA_CONSUMER_USERNAME=dataconsumer"
      - "DATA_CONSUMER_PWD=dataconsumer"
      - "GATEWAY1_USERNAME=gateway1"
      - "GATEWAY1_PWD=gateway1"
      - "GATEWAY2_USERNAME=gateway2"
      - "GATEWAY2_PWD=gateway2"
    volumes:
      - ./src/nats-jetstream/nats.conf:/etc/nats/nats.conf
      - ./src/nats-jetstream/jetstream-data:/etc/nats/data
      - ./src/nats-jetstream/certs:/etc/nats/certs
      - ./src/nats-jetstream/jwt-accounts:/etc/nats/jwt-accounts
    networks:
      poc-net:
        aliases:
          - glitchhubteam.it 

  nats-exporter:
    image: natsio/prometheus-nats-exporter:latest
    container_name: nats-exporter
    ports:
      - "7777:7777"
    command:
      - "-varz"
      - "http://nats-server:8222"
    depends_on:
      - nats
    networks:
      - poc-net

  # TimescaleDB --------------------------------------------------------------------------------------------------------
  timescaledb:
    build:
      context: src/database
      dockerfile: Dockerfile
    container_name: timescaledb
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "admin", "-d", "sensors_db"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_interval: 10s
      start_period: 60s
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      poc-net:
        aliases:
          - timescaledb

  adminer:
    image: adminer
    restart: always
    environment:
      - ADMINER_DEFAULT_SERVER=timescaledb
    ports:
      - 8081:8080
    depends_on:
      - timescaledb
    networks:
      - poc-net

  # Pub/sub ------------------------------------------------------------------------------------------------------------
  publisher:
    build:
      context: ./src/publisher
      dockerfile: Dockerfile
    container_name: publisher
    depends_on:
      nats:
        condition: service_started
      timescaledb:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - poc-net
    volumes:
      - ./src/publisher/certs/ca.pem:/app/certs/ca.pem
      - ./src/publisher/dataconsumer.creds:/app/dataconsumer.creds

  subscriber:
    build:
      context: ./src/subscriber
      dockerfile: Dockerfile
    container_name: subscriber
    depends_on:
      nats:
        condition: service_started
      timescaledb:
        condition: service_healthy
      publisher:
        condition: service_started
    restart: unless-stopped
    networks:
      - poc-net
    volumes:
      - ./src/subscriber/certs/ca.pem:/app/certs/ca.pem
      - ./src/subscriber/dataconsumer.creds:/app/dataconsumer.creds
  
  # Dashboard ----------------------------------------------------------------------------------------------------------
  # Backend: Gin
  dashboard-backend:
    build:
      context: src/dashboard/backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - TENANT_1_CREDS=/app/creds/wsTenant1.creds
      - TENANT_2_CREDS=/app/creds/wsTenant2.creds
      - TENANT_CA=/app/creds/ca.pem
      - NATS_URL=wss://glitchhubteam.it:443    
    volumes:
      - ./src/web-socket-client/wsTenant1.creds:/app/creds/wsTenant1.creds
      - ./src/web-socket-client/wsTenant2.creds:/app/creds/wsTenant2.creds
      - ./src/web-socket-client/certs/ca.pem:/app/creds/ca.pem
    depends_on:
      nats:
        condition: service_started
      timescaledb:
        condition: service_healthy
    networks:
      - poc-net

  # Frontend: Angular
  dashboard-frontend:
    build:
      context: src/dashboard/frontend
      dockerfile: Dockerfile
    container_name: dashboard-frontend
    depends_on:
      dashboard-backend:
        condition: service_started
    networks:
      - poc-net

  # Prometheus + Grafana -----------------------------------------------------------------------------------------------
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      - nats
      - nats-exporter
    networks:
      - poc-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana
      - ./config/grafana/provisioning:/etc/grafana/provisioning:ro
      - ./config/grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - prometheus
    networks:
      - poc-net

  # Nginx --------------------------------------------------------------------------------------------------------------
  proxy:
    image: nginx
    volumes:
      - type: bind
        source: ./src/dashboard/proxy/nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    networks:
      - poc-net
    ports:
      - 80:80
    depends_on:
      dashboard-backend:
        condition: service_started
      dashboard-frontend:
        condition: service_started

networks:
  poc-net:
    driver: bridge

volumes:
  grafana-data:
  pgdata:
