services:
  nats:
    image: nats:latest
    container_name: nats-server
    command: ["-config", "/etc/nats/nats.conf"]
    ports:
      - "4222:4222"
      - "8222:8222"
      - "443:443"
    environment:
      - "SYSTEM_ACCOUNT=AALQCF4M7HNUZXTTUJYH4LYH2KR7XYNOEGACORLW7AQNUVOI46EMWKHE"
      - "NATS_ENCRYPTION_KEY=17556952fcfc80b5661c7b793a7472dfb6c06d493410206c7776d214ed836101"
      - "DATA_CONSUMER_USERNAME=dataconsumer"
      - "DATA_CONSUMER_PWD=dataconsumer"
      - "GATEWAY1_USERNAME=gateway1"
      - "GATEWAY1_PWD=gateway1"
      - "GATEWAY2_USERNAME=gateway2"
      - "GATEWAY2_PWD=gateway2"
    volumes:
      - ./src/nats-jetstream/nats.conf:/etc/nats/nats.conf
      - ./src/nats-jetstream/jetstream-data:/etc/nats/data
      - ./src/nats-jetstream/certs:/etc/nats/certs
      - ./src/nats-jetstream/jwt-accounts:/etc/nats/jwt-accounts
    networks:
      - poc-net

  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=sensors_db
    volumes:
      - ./database/timescale-data:/var/lib/postgresql/data
    networks:
      - poc-net
    
  dashboard-backend:
    build:
      context: src/dashboard/backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - timescaledb
    networks:
      - poc-net

  # proxy:
  #   image: nginx
  #   volumes:
  #     - type: bind
  #       source: ./proxy/nginx.conf
  #       target: /etc/nginx/conf.d/default.conf
  #       read_only: true
  #   networks:
  #     - pg-network
  #   ports:
  #     - 80:80
  #   depends_on:
  #     backend:
  #       condition: service_started

  adminer:
    image: adminer
    restart: always
    environment:
      - ADMINER_DEFAULT_SERVER=timescaledb
    ports:
      - 8081:8080
    depends_on:
      - timescaledb
    networks:
      - poc-net
      
networks:
  poc-net:
    driver: bridge