global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: nats
    metrics_path: /metrics
    scrape_interval: 5s
    static_configs:
      - targets:
          - nats-exporter:7777
