{{define "templates/user/profile.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profilo di {{.username}}</title>
</head>
<body>
  <h1>Profilo di {{.username}}</h1>

  <p>ID: {{.id}}</p>
  <p>Creato il {{.createdAt}}</p>
  <p>Aggiornato il {{.updatedAt}}</p>

  <a href="/">Torna indietro</a>

</body>
</html>
{{end}}