name: "Edit labeled issue's project fields"
on:
  issues:
    types:
      - labeled
      - unlabeled

permissions:
  contents: read
  issues: write
  repository-projects: write

env:
  GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}

jobs:
  call-automation:
    uses: GlitchHub-Team/actions/.github/workflows/issue-action.yml@main
    with:
      issue-event: label
      project: GlitchHub-Team/2
    secrets: 
      inherit