name: "Edit labeled issue's project fields"
on:
  issues:
    types:
      - labeled
      - unlabeled

permissions:
  contents: read
  issues: write
  repository-projects: write

env:
  GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}

jobs:
  call-automation:
    uses: GlitchHub-Team/GlitchHub-Team.github.io/.github/workflows/onLabelIssue.yml@main
