on:
  issues:
    types:
      - labeled
      - unlabeled

permissions:
  contents: read
  issues: write
  repository-projects: write
  
jobs:
  call-automation:
    uses: GlitchHub-Team/GlitchHub-Team.github.io/.github/workflows/onLabelIssue.yml@main
