name: "Edit opened issue's project fields"
on:
  issues:
    types:
      - opened

permissions:
  contents: read
  issues: write
  repository-projects: write

env:
  GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}

jobs:
  call-automation:
    uses: GlitchHub-Team/GlitchHub-Team.github.io/.github/workflows/onOpenIssue.yml@main
    secrets: 
      inherit